<div class="container bg-light-grey">
  <p>This site is being developed to help me learn and become efficient with a number of technologies, such as Angular 7, .Net Core Api, and various AWS services such as Lambda, Api Gateway and the AWS CI/CD tools.</p>
  <p>But it is also a rebuild of my very first website that I created around 20 odd years ago. The Fireside Book Reade. A site that led me on to building and hosting a site for science fiction author Peter F Hamilton (which I am sadly no longer involved with due to life moving on).</p>
  <p>The Fireside Book Reader was a website with a list of authors, and for each author a list of their works. All written in static HTML (before I knew much about data driven websites). The topic was chosen as I love books, especially the sci-fi and fantasy genres, although I do occasionally stray outside of these.</p>
  <p>So I hope you enjoy seeing this site develop and expand in to what I hope will be a great site, with a great resource to find out about some fantastic authors.</p>
</div>
